

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner environment">
				<div class="opacity">
					<h1>World Environment Day</h1>
					<!-- <ul>
						<li><a href="index.html">Home</a></li>
						<li>/</li>
						<li>News</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->

			
			<!--
			=============================================
				Blog Details
			==============================================
			-->
			<div class="blog-details blog-v3">
				<div class="container">
					<div class="wrapper">
						<div class="blog-main-post">
							<!-- <img src="/assets/images/blog/18.jpg" alt=""> -->
							<h6>World Environment Day 2019</h6>
							<h3>Beat Air Pollution</h3>
							<p>Celebrated on June 5 every year to stress the importance of our active participation in environment conservation, World Environment Day emphasizes on sustainable living in this age of indiscriminate waste production. The theme for this year was ‘Beat Air Pollution’.</p>
<p>Though environment conservation is not just a one-day affair, the United Nations’ message is to inspire people and at the same time, also educate them as to why it is important to conserve the environment. In fact, ever since its inception in 1972, the campaign has laid great emphasis on the need for active conservation efforts.</p>
<p>The day is marked by planting trees, planning awareness programmes and conducting exhibitions. Some of the national and international activities also include street rallies, garbage recycling, area clean-up and parades to draw people’s attention towards environmental issues.</p> 
							
						</div> 
						<!-- /.blog-main-post -->
						<!-- <div class="tag-option clearfix">
							<ul class="float-left">
								<li>Tag:</li>
								<li><a href="" class="tran3s">Travel,</a></li>
								<li><a href="" class="tran3s">Advanture,</a></li>
								<li><a href="" class="tran3s">Landscape</a></li>
							</ul>
							<ul class="float-right">
								<li>Share:</li>
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>  -->
						<br>
						<br>
			
						

<div class='demonstrations'>
<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0032.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0032.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0039.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0039.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0051.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0051.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0041.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0041.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0034.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0034.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0074.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0074.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0030.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0030.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0050.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0050.jpg' alt=''/>
  </a>
</div>

<div class="col-md-4 col-xs-6">
  <a href='/assets/images/events/IMG-20190605-WA0032.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/IMG-20190605-WA0032.jpg' alt=''/>
  </a>
</div>

</div>

					</div>
				
				</div>
				

				<!-- <div class="comment-area">
					<div class="container">
						<div class="wrapper">
							<div class="comment-section">
								<h2>2 comments</h2>
								<div class="single-comment clearfix">
									<img src="images/blog/20.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Jannatul Fa.</h6>
										<span>15 April, 2016 At 8:30am</span>
										<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future. The same true we experience the emotional sensation of stress from our first.</p>
										<button class="tran3s">Reply</button>
									</div>
								</div>
								<div class="single-comment clearfix no-border">
									<img src="images/blog/21.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Jannatul Fa.</h6>
										<span>15 April, 2016 At 8:30am</span>
										<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future</p>
										<button class="tran3s">Reply</button>
									</div>
								</div> 
							</div> 

							<div class="leave-comment">
								<h2>Leave A Comment</h2>
								<p>sing in to post your comment or singup if you dont have any account.</p>
								<form action="#">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" placeholder="Name *">
										</div>
										<div class="col-sm-6">
											<input type="email" placeholder="Email *">
										</div>
										<div class="col-xs-12">
											<textarea placeholder="Your Comment"></textarea>
										</div>
									</div>
									<button class="p-bg-color hvr-trim-two">Post COmment</button>
								</form>
							</div> 
						</div> 
					</div> 
				</div> 
			</div> -->

