@extends('layouts.main')

@section('content')

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner gg">
				<div class="opacity">
					<h1>Rewilla</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Glass Galaxy</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Get Stuff Done. Stress Free. Use the Rewilla Platform to save time and money to complete your projects anywhere, anytime.</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>5 Jun 2019</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Android, iOS, MySQL, Git, S3 Bucket, AWS, Socket, Node JS etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Market Place</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											<a href="https://www.rewilla.com/" target="_blank">https://www.rewilla.com/</a>
											<p>iOS</p>
											<a href="https://apps.apple.com/au/app/rewilla/id1452554995" target="_blank">https://apps.apple.com/au/app/rewilla/id1452554995</a>
											<p>Android</p>
											<a href="https://play.google.com/store/apps/details?id=com.rewilla" target="_blank">https://play.google.com/store/apps/details?id=com.rewilla</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Rewilla</h6>
									<p>The apps are built in the Native stack for iOS & Android, REST APIs in the Node JS with MYSQL database, deployed on AWS and used web sockets for the inbuilt text chat.</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a  href="javascript:void(0)" routerLink="/tripbonder" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/home-ease" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->



