

			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner contact">
				<div class="opacity">
					<h1>Contact US</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Contact</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Contact Us
			==============================================
			-->
			<div class="contact-us">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-6 col-xs-12">
							<div class="contact-us-form">
								<form id="contact-us-form" autocomplete="off">
									<input type="email" placeholder="Email Address*" name="email" id="email2">
									<input type="text" placeholder="Subject*" name="sub" id="subject2">
									<textarea placeholder="Your Message*" name="message" id="message2"></textarea>
									<div class="row">
										<div class="col-md-offset-2 col-md-8" id="c_captcha">
										<div id="ccaptcha"></div>
										</div>
									</div>
									<br>
									<button class="p-bg-color hvr-trim-two" id="contact-us-btn">SEND MESSAGE</button>
								</form>
							</div> <!-- /.contact-us-form -->
						</div> <!-- /.col- -->
						<div class="col-lg-5 col-md-6 col-xs-12">
							<div class="contact-address">
								<h2>Don’t Hesitate to contact with us for any kind of information</h2>
								<p>Call us for immediate support this number</p>
								<a href="javascript:void(0)" class="tran3s">+91 8418866099</a><br>
								<a href="javascript:void(0)" class="tran3s">+91 8054377604</a>
								<ul>
									<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="https://www.linkedin.com/company/henceforthsolutions"  target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.contact-address -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.conatiner -->

				<!--Contact Form Validation Markup -->
				<!-- Contact alert -->
				<div class="alert-wrapper" id="alert-success">
					<div id="success">
						<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
						<div class="wrapper">
			               	<p>Your message was sent successfully.</p>
			             </div>
			        </div>
			    </div> <!-- End of .alert_wrapper -->
			    <div class="alert-wrapper" id="alert-error">
			        <div id="error">
			           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
			           	<div class="wrapper">
			               	<p>Sorry!Something Went Wrong.</p>
			            </div>
			        </div>
			    </div> <!-- End of .alert_wrapper -->
			</div> <!-- /.contact-us -->


			<!-- Google Map _______________________ -->
			<div id="google-map-area mb-0">
				<!-- <div class="google-map" id="contact-google-map" data-map-lat="40.925372" data-map-lng="-74.276544" data-map-title="Find Map" data-map-zoom="12"></div> -->
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.344016605122!2d76.68184044993986!3d30.70872779375175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5655555555%3A0x428c5a1fd20fe77!2sHenceForth+Solutions!5e0!3m2!1sen!2sin!4v1562578148655!5m2!1sen!2sin" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	   		 </div>












