

<!--
    =============================================
      Theme Inner Banner
    ==============================================
    -->
    <div class="inner-page-banner">
      <div class="opacity">
        <h1>Company Story</h1>
        <!-- <ul>
          <li><a href="{{URL::to('/')}}">Home</a></li>
          <li>/</li>
          <li>About us</li>
        </ul> -->
      </div> <!-- /.opacity -->
    </div> <!-- /inner-page-banner -->



    <!--
    =============================================
      About Text
    ==============================================
    -->
    <div class="about-text">
      <div class="container">
        <div class="title">
          <h6>WELCOME TO HENCEFORTH SOLUTIONS</h6>
          <h2>We are a dynamic team of creative people <br>&amp; Marketing Expert.</h2>
          
          <p>Headquartered in Chandigarh, we are one of the fastest growing Mobile & Web Solutions organizations of Asia. We deliver innovative, compelling and responsive digital experiences supported by ROI driven marketing services.  We are committed to helping our clients throughout their journey from idea generation to working on mobile & web application and then helping them market their services in the ever growing global market. </p>
          <br>
          <p>We believe people make the difference and therefore we have hired experts in the fields of mobile application, website development, e-commerce, software development & search engine optimisation. Our strengths are our people, values, innovation, open mindset and efficiency. We continuously innovate so as to provide the best in class IT consulting, mobile & website development, design and marketing services. </p>
          <br>
          <p>We help our clients explore the hidden potential of their products & services. Our IT solutions have made businesses more powerful across industry verticals by helping them make exceptional IT solutions and by focusing on their core business.</p>
        <br>
       <h2> What Makes Us Unique</h2>
     <ul>
     <li class="list-item"> <h3>Work Life Balance</h3>
     
     <p> Our employees enjoy a good work life balance. So if you are looking for an organization where you enjoy working but you still have time for your family, don’t look further.</p>
     <br><br>
     <li class="list-item"> <h3>Fun At Work </h3>
     <p> We at Henceforth Solutions enjoy our work. While all our employees work with full dedication, we also go out frequently to have food & fun together. We also have team building activities in the office so that all the employees get to know each other better. </p>
     <br><br>
    </li>
     <li class="list-item"> <h3>Grow with Us</h3>
     <p> If you are passionate for your work, you will have enough opportunities to grow organically in the company. </p>
     <br><br>
     <li class="list-item"> <h3>Challenge Ourselves</h3>
     <p> We continuously try to improve performance, meet deadlines and break our comfort barriers because we believe there is always a room for improvement. </p>
     <br><br>
     <li class="list-item"> <h3>Ethical & Transparent</h3>
     <p> Last but most importantly, we are an ethical and transparent organization and look for employees who have the same set of values embedded in them.</p>
     </ul>

     </div>

        <!-- <img src="/assets/images/inner-page/1.jpg" alt=""> -->
        
        </div> 
      </div> 





