

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner birthday">
				<div class="opacity">
					<h1>Birthday Celebrations</h1>
					<!-- <ul>
						<li><a href="index.html">Home</a></li>
						<li>/</li>
						<li>News</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Blog Details
			==============================================
			-->
			<div class="blog-details blog-v3">
				<div class="container">
					<div class="wrapper">
						<div class="blog-main-post">
							<!-- <img src="/assets/images/blog/18.jpg" alt=""> -->
							<h6>Birthday Celebrations</h6>
							<h3>Glimpse Of Birthday Celebration</h3>
							<p>Birthdays mark an important milestone in everyone's life. A birthday is a day that comes once a year and should be celebrated for several reasons. A birthday is a time when a person acknowledges the anniversary of his or her birth. ... so we at Henceforth Solution try to make our employees feel special on their Special day.</p>
							
						</div> 
						<!-- /.blog-main-post -->
						<!-- <div class="tag-option clearfix">
							<ul class="float-left">
								<li>Tag:</li>
								<li><a href="" class="tran3s">Travel,</a></li>
								<li><a href="" class="tran3s">Advanture,</a></li>
								<li><a href="" class="tran3s">Landscape</a></li>
							</ul>
							<ul class="float-right">
								<li>Share:</li>
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>  -->
						<br>
						<br>
					
						<div class="row demonstrations">
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/02.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/02.jpg' alt=''/>
  </a>
					</div> 
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/02 (1).jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/02 (1).jpg' alt=''/>
  </a>
						
					</div>
					<!--div class="col-md-4 col-xs-6 mix web">
						<div class="single-item">
							<img src="web/images/portfolio/pg_raters.jpg" alt="">
							<div class="opacity tran3s">
								<a href="http://127.0.0.1:8000/rewilla" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div--> <!-- /.single-item -->
				 <!-- /.col-md-4 -->
					

					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/10.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/10.jpg' alt=''/>
  </a>
						
					</div>
					
						
						
						<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/11.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/11.jpg' alt=''/>
  </a>
						
					</div>
						
						
						
					
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/14.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/14.jpg' alt=''/>
  </a>
						
					</div>
					
			
					
				
					
						
						
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/06.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/06.jpg' alt=''/>
  </a>
						
					</div>
					
					
					
			

					
						
					 <div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/03.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/03.jpg' alt=''/>
  </a>
						
					</div>
					 
					
			

				 <!-- /.col-md-4 -->
					
						
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/02.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/02.jpg' alt=''/>
  </a>
						
					</div>
					
					

				
					
						
						
					<div class="col-md-4 col-xs-6">
					<a href='/assets/images/events/26.jpg'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="">
    <img src='/assets/images/events/26.jpg' alt=''/>
  </a>
						
					</div>
					
					
				
				
				</div>








					</div>
				
				</div>
				

				<!-- <div class="comment-area">
					<div class="container">
						<div class="wrapper">
							<div class="comment-section">
								<h2>2 comments</h2>
								<div class="single-comment clearfix">
									<img src="images/blog/20.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Jannatul Fa.</h6>
										<span>15 April, 2016 At 8:30am</span>
										<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future. The same true we experience the emotional sensation of stress from our first.</p>
										<button class="tran3s">Reply</button>
									</div>
								</div>
								<div class="single-comment clearfix no-border">
									<img src="images/blog/21.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Jannatul Fa.</h6>
										<span>15 April, 2016 At 8:30am</span>
										<p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future</p>
										<button class="tran3s">Reply</button>
									</div>
								</div> 
							</div> 

							<div class="leave-comment">
								<h2>Leave A Comment</h2>
								<p>sing in to post your comment or singup if you dont have any account.</p>
								<form action="#">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" placeholder="Name *">
										</div>
										<div class="col-sm-6">
											<input type="email" placeholder="Email *">
										</div>
										<div class="col-xs-12">
											<textarea placeholder="Your Comment"></textarea>
										</div>
									</div>
									<button class="p-bg-color hvr-trim-two">Post COmment</button>
								</form>
							</div> 
						</div> 
					</div> 
				</div> 
			</div> -->
			
