
<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner he">
				<div class="opacity">
					<h1>Home Ease</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>HomeEase</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Get optimal Home Pricing estimates<br> through Home Ease</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>12 Jun 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Laravel, MySQL, AngularJS, HTML5, Bootstrap4, AWS, Git, S3 bucket etc.
</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Property budgeting project</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											<a href="https://homeease.pro/" target="_blank">https://homeease.pro/</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Home Ease</h6>
									<p>Do you ever stuck in a situation when you are unable to estimate the price of the property which you want to sell? In that case I believe that HomeEase is the web based tool which can help you in estimating the best price for your property.  HomeEase uses complex algorithms driven by lots of parameters which help you to calculate the best price for your home or apartment.  At the same time, It also gives options to connect with Brokers/Agents to ease the process. Brokers can also use the platform to generate leads for their business while helping the user in estimating the price.
</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a  href="javascript:void(0)" routerLink="/rewilla" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/playground-raters" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->


