
			<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
			-->
			<div class="inner-page-banner events">
				<div class="opacity">
					<h1>Life in Henceforth</h1>
					<ul>
						<li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
						<li>/</li>
						<li>News</li>
					</ul>
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!-- 
			=============================================
				Our Blog / Blog V3
			============================================== 
			-->
			<div class="our-blog blog-v3">
				<div class="container">
					<div class="wrapper">
						<div class="single-blog">
							<div class="image"><a href="javascript:void(0)" routerLink="/event-details"><img  src="/assets/images/events/IMG-20190605-WA0041.jpg" alt=""></a></div>
							<div class="text">
								<h6>World Environment Day 2019</h6>
								<h5><a href="javascript:void(0)" routerLink="/event-details" class="tran3s">Beat Air Pollution</a></h5>
								<p>Celebrated on June 5 every year to stress the importance of our active participation in environment conservation, World Environment Day emphasizes on sustainable living in this age of indiscriminate waste production. The theme for this year was ‘Beat Air Pollution’.</p>
<!-- <p>Though environment conservation is not just a one-day affair, the United Nations’ message is to inspire people and at the same time, also educate them as to why it is important to conserve the environment. In fact, ever since its inception in 1972, the campaign has laid great emphasis on the need for active conservation efforts.</p>

<p>The day is marked by planting trees, planning awareness programmes and conducting exhibitions. Some of the national and international activities also include street rallies, garbage recycling, area clean-up and parades to draw people’s attention towards environmental issues.</p> -->
								<a href="javascript:void(0)" routerLink="/event-details" class="tran3s"><i class="flaticon-arrows" aria-hidden="true"></i></a>
							</div>
						</div> <!-- /.single-blog -->
						<div class="single-blog">
							<div class="image"><a href="javascript:void(0)" routerLink="/birthday-details"><img  src="/assets/images/events/46.jpg" alt=""></a></div>
							<div class="text">
								<h6>Birthday Celebrations</h6>
								<h5><a  href="javascript:void(0)" routerLink="/birthday-details" class="tran3s">Glimpse Of Birthday Celebration</a></h5>
								<p>Birthdays mark an important milestone in everyone's life. A birthday is a day that comes once a year and should be celebrated for several reasons. A birthday is a time when a person acknowledges the anniversary of his or her birth. ... so we at Henceforth Solution try to make our employees feel special on their Special day.</p>
								<a href="javascript:void(0)" routerLink="/birthday-details" class="tran3s"><i class="flaticon-arrows" aria-hidden="true"></i></a>
							</div>
						</div> <!-- /.single-blog -->
						<!-- <div class="single-blog">
							<div class="image"><img src="web/images/blog/19.jpg" alt=""></div>
							<div class="text">
								<h6>Rashed Ka.</h6>
								<h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
								<p>Their testimonial videos aren't production quality, but they get the message across, cover useful and relevant information which goes to show you don't need to invest thousands product.</p>
								<a href="blog-details.html" class="tran3s"><i class="flaticon-arrows" aria-hidden="true"></i></a>
							</div>
						</div>  -->
						<!-- /.single-blog -->
					</div> <!-- /.wrapper -->
					<!-- <ul class="page-pagination">
						<li class="active"><a href="" class="tran3s">1</a></li>
						<li><a href="" class="tran3s">2</a></li>
						<li><a href="" class="tran3s">3</a></li>
						<li><a href="" class="tran3s">Next</a></li>
					</ul> -->
				</div> <!-- /.container -->
			</div> <!-- /.our-blog -->

