
<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner fm">
				<div class="opacity">
					<h1>Fine Master</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Fine Master</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Manage and assign fine easily<br> through Fine Master</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>25 April 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Android, iOS, NodeJS, MySQL, Git, AWS, S3 Bucket etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Fine Management System</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>iOS</p>
											<a href="https://itunes.apple.com/us/app/the-fine-master/id1411169361?mt=8" target="_blank">https://itunes.apple.com/us/app/the-fine-master/id1411169361?mt=8</a>
											<p>Android</p>
											<a href="https://play.google.com/store/apps/developer?id=The+Fine+Master&hl=en" target="_blank">https://play.google.com/store/apps/developer?id=The+Fine+Master&hl=en</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Fine Master</h6>
									<p>The FineMaster app will fix everything. With the ability to track individual and team targets, compile fine history’s and payments the FineMaster will make collecting fines for your team trip so much easier.
Say goodbye to the old fashioned book keeping system and immerse your team in the fully integrated fine app. On the spot fines, fine tracking and team messaging are just some of the included features.</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a href="javascript:void(0)" routerLink="/plush-affairs" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/actafun" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->



