
<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner work">
				<div class="opacity">
					<h1>Portfolio</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->

		
			
			<!--
			=============================================
				Our Portfolio V1
			==============================================
			-->
			<div class="gullu-portfolio portfolio-full-width">
				<div class="container">
					<div class="mixitUp-menu">
						<h2>We’ve done lot’s of work, Let’s <br>Check some from here</h2>
	        			<ul>
							<!-- <li class="filter active tran3s" data-filter="all">All</li>
							<li class="filter tran3s" data-filter=".web">Web</li>
							<li class="filter tran3s" data-filter=".app">Apps</li> -->
							
							<!-- <li class="filter tran3s" data-filter=".technical">Branding</li> -->
							<!-- <li class="filter tran3s" data-filter=".marketing">Marketing</li>
							<li class="filter tran3s" data-filter=".investment">Inesment</li> -->
	        			</ul>
	        		</div> <!-- End of .mixitUp-menu -->
				</div> <!-- /.container -->

				<div class="row" id="mixitUp-item">
					<div class="col-md-4 col-xs-6 mix app ">
						<div class="single-item">
							<img src="/assets/images/portfolio/tripbonder-web.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/tripbonder" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
					</div> <!-- /.col-md-4 -->
					<div class="col-md-4 col-xs-6 mix web">
						<div class="single-item">
							<img src="/assets/images/portfolio/rewilla.png" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/rewilla" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
					</div> <!-- /.col-md-4 -->
					<!--div class="col-md-4 col-xs-6 mix web">
						<div class="single-item">
							<img src="web/images/portfolio/pg_raters.jpg" alt="">
							<div class="opacity tran3s">
								<a href="{{URL::to('/')}}/rewilla" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div--> <!-- /.single-item -->
				 <!-- /.col-md-4 -->
					<div class="col-md-4 col-xs-6 mix app">
						<div class="single-item">
							<img src="/assets/images/portfolio/homeease.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/home-ease" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
                       </div>
						<div class="col-md-4 col-xs-6 mix web">
						<div class="single-item">
							<img src="/assets/images/portfolio/pg_raters.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/playground-raters" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
					</div> <!-- /.col-md-4 -->
	 
					<div class="col-md-4 col-xs-6 mix app">
						<div class="single-item">
							<img src="/assets/images/portfolio/catmango.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/catmango" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
					</div> <!-- /.col-md-4 -->
					
					<!-- /tydalpass -->
					<div class="col-md-4 col-xs-6 mix app">
						<div class="single-item">
							<img src="/assets/images/portfolio/tydal-2.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/tydalpass" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> 
					</div>
					<!-- end tydalpass -->

                <!-- /.pluss-affairs -->
					 <div class="col-md-4 col-xs-6 mix app">
						<div class="single-item">
							<img src="/assets/images/portfolio/plush-affairs.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/plush-affairs" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> 
					</div> 
					<!-- /end pluss-affairs -->

				 <!-- /.col-md-4 -->
					<div class="col-md-4 col-xs-6 mix web">
						<div class="single-item">
							<img src="/assets/images/portfolio/fine-master.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/fine-master" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> <!-- /.single-item -->
					</div> <!-- /.col-md-4 -->

					<!-- /.actafun -->
					<div class="col-md-4 col-xs-6 mix app">
						<div class="single-item">
							<img src="/assets/images/portfolio/acta.jpg" alt="">
							<div class="opacity tran3s">
								<a href="javascript:void(0)" routerLink="/actafun" class="view-more tran3s"><i class="flaticon-plus"></i></a>
							</div>
						</div> 
					</div> 
					<!-- / end actafun -->
				
				</div> <!-- /.row -->
<!-- <div class="view-casesutdy text-center">
	<button data-fancybox="project" href="web/images/portfolio/actafun.png" class="p-bg-color hvr-trim-two tran3s" title="We’ve done lot’s of work, Let’s Check">View Case Study</button>

</div> -->




</div> <!-- /.gullu-portfolio -->


