.home-service-section ul li div img.brand {
    position: absolute;
    left: 0 !important;
    transition: all .4s ease-in-out;
}

.home-service-section ul li div img.brand:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari 3-8 */
    transform: rotate(360deg);
}

.what-we-do .single-block .icon img.app-dev {
    margin: 25% 26%;
}

.logo {
    margin-top: -12px;
}

.banner-caption {
    font-size: 16px;
    line-height: 18px;
}

.theme-shape-two-slide-1 {
    background: url(../svg/slide-1.svg);
}
.theme-shape-two-slide-2 {
    background: url(../svg/slide-2.svg);
}
.theme-shape-two-slide-3 {
    background: url(../svg/slide-3.svg);
    
}



/*rishi css on 5july2018*/

.pricing-plan-one .col-md-6 input {
    width: 100%;
    height: 55px;
    border: 1px solid #e7e7e7;
    padding: 0 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.pricing-plan-one .col-md-12 textarea {
    min-height: 100px;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    padding: 6px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: none;
    resize: none;
}
.pricing-plan-one button {
    display: block;
    width: 100%;
    line-height: 55px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    /* border: 3px solid #f3eded; */
    letter-spacing: 1.4px;
}
.pricing-plan-one .wrapper {
    padding: 36px 36px;
    background: #fff;
}

.what-we-do .col-md-4:hover .icon {

    webkit-box-shadow: 0px 3px 35px 0px rgba(94, 97, 99, 0.2);
    box-shadow: 0px 3px 35px 0px rgba(94, 97, 99, 0.2);
    transform: scale3d(1.1, 1.1, 1);-webkit-transform: scale3d(1.1, 1.1, 1);
transition: all 0.5s linear;

}
.what-we-do .icon {
    transform: scale3d(1, 1, 1);
transition: all 0.5s linear;

}

.view-casesutdy.text-center {
    padding-top: 155px;
}
.view-casesutdy.text-center button {
    width: 230px;
    line-height: 55px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.4px;
}
#mega-menu-wrapper .nav > li > a {
    text-shadow: 0px 0px 0px #000000;
}




/*end rishi css on 5july2018*/
