/* RESET */
/* html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{margin:0;padding:0}h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th{font-size:1em;font-weight:normal;font-style:normal}ul,ol{list-style:none}fieldset,img{border:none}caption,th{text-align:left}table{border-collapse:collapse;border-spacing:0}

html {
  margin-bottom: 1px;
  overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll;
}
body { font: 11px/18px "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif; background-color: #646461; color: #E0DFDC; -webkit-font-smoothing: antialiased;}
p { margin-bottom: 18px; }
a { color: #e7e691; text-decoration: none; outline-style: none; }
a:hover { text-decoration: underline; }


#page { margin: 0 auto; width: 706px; padding-top: 34px;}

h1, h2 { clear: both; font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif; font-weight: bold; margin: 0 0 17px 0;}
h1 { font-size: 27px; line-height: 34px; font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana; }
h2 { font-size: 11px; line-height: 17px; margin-bottom: 0; } */

.demonstrations { float: left; clear: both; width: 100%; margin-bottom: 18px; }
.demonstrations a {
  float: left;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}

  .demonstrations a img {
    float: left;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;

}
.demonstrations .rightmost { margin-right: 0; }

.resources strong { font-family: "Lucida Sans"; }
