

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner cm">
				<div class="opacity">
					<h1>Catmango</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Catmango</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Get Academic assistance for your assignments<br> and papers through Catmango</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>2 Nov 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Laravel, iOS, Android, MySQL, AngularJS, HTML5, Bootstrap4, AWS, Git, S3 bucket etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Education</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											<a href="https://www.catmango.com/" target="_blank">https://www.catmango.com/</a>
											
											<p>iOS</p>
											<a href="https://itunes.apple.com/us/app/catmango/id1436499019?mt=8" target="_blank">https://itunes.apple.com/us/app/catmango/id1436499019?mt=8</a>
											
											<p>Android</p>
											<a href="https://play.google.com/store/apps/details?id=com.catmango.essay" target="_blank">https://play.google.com/store/apps/details?id=com.catmango.essay</a>
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Catmango</h6>
									<p> Stuck with your academics? Don’t feel helpless, Catmango is the solutions to your all the problems related to academic writing.  The platform have very experience academia from top universities of  United States and China. You just need to describe your work and rest will be done by the expert team with guaranteed results.
</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a href="javascript:void(0)" routerLink="/playground-raters" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/tydalpass" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->





