
<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner pg">
				<div class="opacity">
					<h1>Playground Raters</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Playground Raters</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Join Sport Events near you analyze players skills and <br> rate other players through PGRaters </h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>12 May 2016</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Android, iOS, Laravel, MySQL, Git, S3 Bucket etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Player Skills Analytics</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											<a href="https://www.playgroundraters.com/" target="_blank">https://www.playgroundraters.com/</a>
											<p>iOS</p>
											<a href="https://itunes.apple.com/us/app/pgraters/id1396150728?mt=8" target="_blank">https://itunes.apple.com/us/app/pgraters/id1396150728?mt=8</a>
											<p>Android</p>
											<a href="https://play.google.com/store/apps/details?id=com.henceforth.playgroundraters&hl=en" target="_blank">https://play.google.com/store/apps/details?id=com.henceforth.playgroundraters&hl=en</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Playground Raters</h6>
									<p>PGRaters attempts to transform the way sports is perceived on the playground by introducing a complete transparency on players abilities to facilitate the improvement of the localized sports industry.
It is a great new way to organize local team sports, the quickest way to find local nearby pickup games and the hottest new way to rate your friends in the process.</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a  href="javascript:void(0)" routerLink="/home-ease" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/catmango" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->


