
	<div class="all-jobs">
				<div class="container">	
                
                <div class="col-md-12">
                <h2>All Jobs</h2>
                <br>
    <table class="table table-striped">
    
    <tbody>

      <tr>
      <td style="width:60%">
        <h3> Android Mobile Application Developer</h3>
        <p><b>Henceforth Solutions</b> is looking forward to hire an android Developer who will be able to perform our tasks.</p>
        </td>
        <td  style="width:20%;text-align:center;"><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Mohali, Punjab</p></td>
        <td  style="width:20%;text-align:center;"><p class="text-warning">Full Time<br><a class="tran3s" data-toggle="modal" data-target=".apply">Apply</a></p></td>
      </tr>
  
      <tr>
      <td style="width:60%">
        <h3> iOS Mobile Application Developer</h3>
        <p><b>Henceforth Solutions</b> is looking forward to hire an iOS Developer who will be able to perform our tasks.</p>
        </td>
        <td  style="width:20%;text-align:center;"><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Mohali, Punjab</p></td>
        <td  style="width:20%;text-align:center;"><p class="text-warning">Full Time<br><a class="tran3s" data-toggle="modal" data-target=".apply">Apply</a></p></td>
      </tr>
  
      <!-- <tr>
      <td style="width:60%">
        <h3>Angular Developer</h3>
        <p><b>Henceforth Solutions</b> is looking forward to hire Angular developer who will be able to perform all Angular tasks.</p>
        </td>
        <td  style="width:20%;text-align:center;"><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Mohali, Punjab</p></td>
        <td  style="width:20%;text-align:center;"><p class="text-warning">Full Time<br><a class="tran3s" data-toggle="modal" data-target=".apply">Apply</a></p></td>
      </tr> -->
 
      <tr>
      <td style="width:60%">
        <h3>React Native Developer</h3>
        <p><b>Henceforth Solutions</b> is looking forward to hire ReactJS developer who will be able to perform all ReactJS tasks.</p>
        </td>
        <td  style="width:20%;text-align:center;"><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Mohali, Punjab</p></td>
        <td  style="width:20%;text-align:center;"><p class="text-warning">Full Time<br><a class="tran3s" data-toggle="modal" data-target=".apply">Apply</a></p></td>
      </tr>
    </tbody>
  </table>

                

                
                </div>
                </div>
                </div>




        <!-- job apply Modal -->
        <div class="modal apply theme-modal-box" role="dialog">
				<div class="modal-dialog job-apply">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<!-- <div class="single-service"><i class="flaticon-round-chart tran3s"></i></div> -->
							<h3>Job Application</h3>
							<p>Please provide further details on <b>hr@henceforthsolutions.com</b> with your resume and linkedin profile.<br>Thanks</p>
					
					        	
					      
					    </div>
				    </div> 
				</div> 
			</div>


















