@extends('layouts.main')

@section('content')

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner pa">
				<div class="opacity">
					<h1>Plush Affairs</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Plush Affairs</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Browse around work and<br> photographs of Plush Affairs</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>10 Jan 2017</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Laravel, MySQL, Angular js, HTML5, Bootstrap4, AWS, Git, S3 bucket etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Photography</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											
											<a href="http://www.plushaffairs.in/" target="_blank">http://www.plushaffairs.in/</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Plush Affairs</h6>
									<p>Plush Affairs is a common name among the mass when it comes to photography and videography specially in wedding and events. They have a big fan following here in India. In order to reach more fans and expanding their business to pan india level, They came up with the idea to create a brand identity as well as booking engine.  We helped them to design and develop very amazing website where they can showcase their work to attract more and more clients. </p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a href="javascript:void(0)" routerLink="/tydalpass" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/fine-master" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->


