

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner tb">
				<div class="opacity">
					<h1>Tripbonder</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Tripbonder</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Get best Tourism packages, Hotel bookings, Event tickets, <br>Transportations on Tripbonder </h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>19 Sep 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>NodeJS, MySQL, Angular js, HTML5, Bootstrap4, AWS, Git, S3 bucket, Stripe, sendgrid etc.</p>
										</li>
										
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											
											<a href="https://www.tripbonder.com" target="_blank">https://www.tripbonder.com</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Tripbonder</h6>
									<p>Tripbonder is a travel service marketplace loaded with different modules to ease the day-to-day operations of associated travel service providers.  It gives them freedom to reach out targeted audience and scheduling their operations directly through the dashboards.  On the other hand, The end user can search for various last time tours and travel deals as well as cheap accommodation and transportation services in desired locations.  It has various features like multi currency, partial booking amount , refund, dispute resolutions and much more.</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a href="javascript:void(0)" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/rewilla" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->



