		<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper full-width-menu">
				<div class="header-wrapper">
					<div class="clearfix">
						<!-- Logo -->
						<div class="logo float-left">
							<a href="/">
								<img src="/assets/images/logo/logo.png" alt="Logo" class="main-logo">
							</a>
						</div>

						<!-- ============================ Theme Menu ========================= -->
						<nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
							<!-- Brand and toggle get grouped for better mobile display -->
						   <div class="navbar-header">
						     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						       <span class="sr-only">Toggle navigation</span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						     </button>
						   </div>
						   <!-- Collect the nav links, forms, and other content for toggling -->
						   <div class="collapse navbar-collapse" id="navbar-collapse-1">
								<ul class="nav">
									<li class="menu-list"><a href="/" class="tran3s">Home</a></li>
									<li class="dropdown-holder menu-list"><a href="javascript:void(0)" class="tran3s">About</a>
										<ul class="sub-menu">
											<li><a href="javascript:void(0)" routerLink="/about-us">About Us</a></li>
											<li><a href="javascript:void(0)" routerLink="/team">Team</a></li>
											<li><a href="javascript:void(0)" routerLink="/events">Events</a></li>
										</ul>
									</li>
                                    <li class="menu-list"><a href="javascript:void(0)" routerLink="/services" class="tran3s">Services</a></li>
                                    <li class="menu-list"><a href="javascript:void(0)" routerLink="/work" class="tran3s">Work</a></li>
									<li class="menu-list"><a href="javascript:void(0)" routerLink="/jobs" class="tran3s">Jobs</a></li>
									<li class="menu-list"><a href="javascript:void(0)" routerLink="/contact-us" class="tran3s">Contact Us</a></li>
									<li class="login-button"><a href="javascript:void(0)" class="tran3s" data-toggle="modal" data-target=".signUpModal">get estimate</a></li>
								</ul>
						   </div><!-- /.navbar-collapse -->
						</nav> <!-- /.theme-main-menu -->
					</div> <!-- /.clearfix -->
				</div>
			</header> <!-- /.theme-menu-wrapper -->
