


<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner service">
				<div class="opacity">
					<h1>Our Services</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Services</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Our Service V1
			==============================================
			-->
			<div class="service-version-one">
				<div class="container">
					<h2>We provide wide range of <br>business services.</h2>
					<div class="row">
						<!-- <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<i class="flaticon-diamond tran3s"></i>
								<p>Service Offering</p>
								<h6><a href="#" class="tran3s">Professional IT services <br>by our expert</a></h6>
							</div> 
						</div>  -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<!-- <i class="flaticon-brand tran3s"></i> -->
								<img src="/assets/images/icons/brand.png" class="brand">
								<br>
								<!-- <p>Service Offering</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Brand Identity</a></h6>
								<br>
								<p>Your brand is the mark of promise, reliability and credibility to your customers. Our team helps you bring out the true identity of your brand and strategically designs the graphic product<span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal5">Read more</span> </p>
							</div> 

			 <!-- descrbtion Modal six -->
							  
				<div class="modal  descriptionModal5 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/brand.png" class="brand"></div>
							<h3>Brand Identity</h3>
							
							
<p>Your brand is the mark of promise, reliability and credibility to your customers. Our team helps you bring out the true identity of your brand and strategically designs the graphic elements like logo and signature trademark that outshine competitors and put you right ahead in the game.
</p>
 
	<br>				        	
					      
					    </div>
				    </div> 
				</div> 
			</div>
         </div>  
	




  


		  <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/app.png" class="brand">
							<br>
								<!-- <p>Service Offering</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Mobile Applications</a></h6>
								<br>
								<p>Give your business a viable option of enterprising itself into a profitable venture with our customised Mobile Apps Development. Stay ahead of trend with the help of our advanced<span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal6">Read more</span> </p>
							</div> 

			 <!-- descrbtion Modal fifth -->
							  
				<div class="modal  descriptionModal6 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/app.png" class="brand"></div>
							<h3>Mobile Applications</h3>
<p>Give your business a viable option of enterprising itself into a profitable venture with our customised Mobile Apps Development. Stay ahead of trend with the help of our advanced tech, Native and Hybrid apps for iOS, Android and Windows. </p>
 		 
	<br>				        	
					      
					    </div>
				    </div> 
				</div> 
			</div>
         </div>  
		 
		 <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/ui.png" class="brand">
							<br>
								<!-- <i class="flaticon-diamond tran3s"></i> -->
								<!-- <p>Service Offering</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Graphics Design</a></h6>
								<br>
								<p>It is the era of visual and virtual communication. Well researched graphics and their placement, We infuse creativity and effectiveness in our designs backed by extensive research and<span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal7">Read more</span> </p>
							</div> 

			 <!-- descrbtion Modal fifth -->
							  
				<div class="modal  descriptionModal7 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/ui.png" class="brand"></div>
							<h3>Graphics Design</h3>
<p>It is the era of visual and virtual communication. Well researched graphics and their placement, We infuse creativity and effectiveness in our designs backed by extensive research and experience of our team to develop visually stunning designs that your customers will love.</p>
 		 
	<br>				        	
					      
					    </div>
				    </div> 
				</div> 
			</div>
         </div>  
		

<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/web.png" class="brand">
							<br>
								<!-- <i class="flaticon-diamond tran3s"></i> -->
								<!-- <p>Service Offering</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Web Applications</a></h6>
								<br>
								<p>Pace up your business with a reliable and interactive website development. Let your website become the interface for your target audience with a responsive, easy to use and  <span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal8">Read more</span> </p>
							</div> 

			 <!-- descrbtion Modal fifth -->
							  
				<div class="modal  descriptionModal8 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/web.png" class="brand"></div>
							<h3>Web Applications</h3>
<p>Pace up your business with a reliable and interactive website development. Let your website become the interface for your target audience with a responsive, easy to use and multi platform enabled website with UI speed optimisation across PHP, Node JS, RoR, Python, and ASP.NET</p>
 		 
	<br>				        	
					      
					    </div>
				    </div> 
				</div> 
			</div>
         </div>  
		 









						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/Promotion.png" class="brand">
							<br>
								<!-- <p>Service Offering</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Promotion & Marketing Services</a></h6>
								<br>
								<p>Each year, 90% of new products fail to succeed. Do you know why? Because they either don’t invest in marketing and if they do, their marketing strategies go haywire failing to gain <span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal">Read more</span> </p>
							</div> 

			 <!-- descrbtion Modal first -->
							  
				<div class="modal  descriptionModal theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/Promotion.png" class="brand"></div>
							<h3>Promotion & Marketing Services</h3>
<p>Each year, 90% of new products fail to succeed. Do you know why? Because they either don’t invest in marketing and if they do, their marketing strategies go haywire failing to gain mindshare of the consumer.
 A great product without appropriate marketing strategies could miserably fail in the market.  At Hence Forth Solutions, we provide customized Promotion & Marketing services for organizations of all sizes so that you can send out the right message to the right audience and hence sell your products and services and improve bottom line. </p>
 <p>Here are the marketing services that we provide.</p>
  <h4>a. Social Media Marketing</h4>
  <p>Everyone is on the social media. But is your company present there? We should be where our customer is. And where is your target customer, most probably on social media.  
We help you engage with your target audience on social platforms so that you can convert your leads into customers. We also help you run ad campaigns to reach more people with a low investment and thus get new customers.</p>
   <h4>b. Search Engine Optimisation</h4>	
   <p>Do you know that 90% of the traffic goes to the websites on the page 1 of Google, Bing and Yahoo? We help you reach page 1 for several keywords of your choice, increase traffic & hence get leads.</p>			        
<h4>c. Animated & White Board Videos </h4>	
<p>Explain the benefits and features of your products and services using the innovative animated or white board videos and gain the interest of your target audience.</p>		 
	<br>				        	
					      
					    </div>
				    </div> 
				</div> 
			</div>
          </div>


		


						<!-- <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<i class="flaticon-round-chart tran3s"></i>
								<p>Business Services</p>
								<h6><a href="#" class="tran3s">Complete Business solution <br>global organisations</a></h6>
							</div> 
						</div>  -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/Cloud_Services.png" class="brand">
							<br>
								<!-- <p>Business Services</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Cloud Services</a></h6>
								<br>
								<p>Cloud computing has created a technology revolution for small and medium enterprises, giving access to a variety of capabilities that usually only big <br><span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal1">Read more</span></p>
							</div> 

                <!-- descrbtion Modal second -->
			   <div class="modal descriptionModal1 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/Cloud_Services.png" class="brand"></div>
							<h3>Cloud Services</h3>
							<p>Cloud computing has created a technology revolution for small and medium enterprises, giving access to a variety of capabilities that usually only big corporations could afford. Small corporations can get into software system and services as they have them and pay money for what they use on a monthly basis, like utility services. 
Hence Forth Solutions provides exceptional cloud services and solutions to enrich, shield and enhance your ICT atmosphere, along with your ever-changing business needs.
We help you setup your cloud services on your current cloud merchants without any hassle. We work with you to offer connectivity and resources to make your cloud environment work efficiently.</p>
					
					        	
					      
					    </div>
				    </div> 
				</div> 
			</div>


						</div> 
						<!-- <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<i class="flaticon-computer tran3s"></i>
								<p>Design &amp; Devlopment</p>
								<h6><a href="#" class="tran3s">Provide all kind of design &amp; <br>development Services</a></h6>
							</div> 
						</div>  -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/Content_Management.png" class="brand">
							<br>
								<!-- <p>Contant Creation</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Content Management Strategy</a></h6>
								<br>
								<P>Content is the King. Get the content that engages your target audience and retain your prospects on your website for longer duration. Present your product like a story that everyone <span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal2">Read more</span></P>
							</div> <!-- /.single-service -->
             	<!-- descrbtion Modal three -->
            <div class="modal descriptionModal2 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/Content_Management.png" class="brand"></div>
							<h3>Content Management Strategy</h3>
							<P>Content is the King. Get the content that engages your target audience and retain your prospects on your website for longer duration. Present your product like a story that everyone wants to read. Get in touch with us for all kinds of content requirement.</P>
					        
					    
					        	
					      
					    </div>
				    </div> 
				</div> 
			</div>

						</div> <!-- /.col- -->
						
						<!-- <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<i class="flaticon-notepad tran3s"></i>
								<p>Technical Service</p>
								<h6><a href="#" class="tran3s">Managed company services <br>and solutions</a></h6>
							</div> 
						</div>  -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
							<img src="/assets/images/icons/Analytics_Dashboard.png" class="brand">
							<br>
								<!-- <p>Technical Service</p> -->
								<h6><a href="javascript:void(0)" class="tran3s">Analytics Dashboard</a></h6>
								<br>
								<p>Do you know who you should target for your products and services? Are you targeting the right demographics? Are you targeting the right age group? At Hence Forth Solutions, we give <span href="#" class="tran3s" data-toggle="modal" data-target=".descriptionModal3">Read more</span></p>
							</div> 
	  
					<!-- descrbtion Modal forth -->			
				<div class="modal descriptionModal3 theme-modal-box" role="dialog">
				<div class="modal-dialog">
				 
				    <div class="modal-content">
					    <div class="modal-body">
						<div class="single-service"><img src="/assets/images/icons/Analytics_Dashboard.png" class="brand"></div>
							<h3>Analytics Dashboard</h3>
							<p>Do you know who you should target for your products and services? Are you targeting the right demographics? Are you targeting the right age group?
At Hence Forth Solutions, we give you all the answers about your mobile application users like demographics. From their age, gender to their city and country, we provide all the information you may need to understand the demographics of your target audience so that you can take better decisions. </p>
					        
				
					      
					    </div>
				    </div> 
				</div> 
			</div>

						</div> 
						
						<!-- <div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-service">
								<i class="flaticon-business tran3s"></i>
								<p>SEO &amp; SMM</p>
								<h6><a href="#" class="tran3s">Boost your website traffice <br>by using our tools</a></h6>
							</div> 
						</div>  -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.service-version-one -->

