

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner cma">
				<div class="opacity">
					<h1>Tydal pass</h1>
					<!-- <ul>
						<li><a href="index.html">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Search best deals around <br>you through tydal pass</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>12 May 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>PHP, Android, iOS, AWS, S3 Bucket and MySQL etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Market Place</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>iOS</p>
											
											<a href="https://itunes.apple.com/us/app/tydal-pass/id1305862102?mt=8" target="_blank">https://itunes.apple.com/us/app/tydal-pass/id1305862102?mt=8</a>
											<p>Android</p>
											
											<a href="https://play.google.com/store/apps/details?id=com.app.tydalpass&hl=en" target="_blank">https://play.google.com/store/apps/details?id=com.app.tydalpass&hl=en</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Tydal Pass</h6>
									<p>Find what you need and snag a deal! The Tydal Pass app is a one-stop app for finding the things you need and want! Jump into adventure, the best kept restaurants, find top-notch places to get kitchen appliances, or even a photographer for the family photos.
With Tydal Pass, getting a glimpse of what all the stores around you has to offer is incredibly easy. Instead of getting frustrated with trying to locate stores that carry what you’re looking for, simply go to your mobile mall on the Tydal Pass App and get connected with the what you’re looking for. You may even grab a deal!</p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a  href="javascript:void(0)" routerLink="/catmango" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/plush-affairs" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->


