
<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner team">
				<div class="opacity">
					<h1>Team Member</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Team</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Our Team Style One
			==============================================
			-->
			<div class="our-team-styleOne inner-page style-two">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/omji.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Omji Pandey</h6>
								<p>Business Development Manager</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/jd.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
											<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	
											
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Janardhan Singla</h6>
								<p>Team Lead NodeJS/AngularJS</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/harman.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Harman Preet</h6>
								<p>Team Lead Laravel</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/gaurav-negi.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Gaurav Negi</h6>
								<p>Team Lead iOS</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/abhishek-suri.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Abhishek Suri</h6>
								<p>Team Lead Android</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/ankit.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<!-- <li><a href="javascript:void(0)" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li> -->
											
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Ankit Nigam</h6>
								<p>Graphic Designer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/hr.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<!-- <li><a href="javascript:void(0)" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li> -->
											
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Bharati Gagat</h6>
								<p>Human Resource</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/ekta.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Ekta Meena</h6>
								<p>Quality Assurance</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/ratan.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Ratanjot Kaur</h6>
								<p>Backend Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/PicsArt_07-05-10.18.04.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Rishabh Jaiswal</h6>
								<p>Angular Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/vijay.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Vijay Saini</h6>
								<p>Angular Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/rishi.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Rishi Kumar</h6>
								<p>Senior HTML Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/simran.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Simran kathuria</h6>
								<p>Android Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/naina.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Naina</h6>
								<p>Angular Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/PicsArt_07-05-10.35.52.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Sheetal Raghav</h6>
								<p>NodeJS Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/meemansa.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Meemansa Mishra</h6>
								<p>Backend Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
			
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/karam.jpg" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Karamjeet Kaur</h6>
								<p>Android Developer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-xs-6">
							<div class="single-team-member">
								<div class="image">
									<img src="/assets/images/team/PicsArt_07-04-03.31.52.png" class="img-circle" alt="">
									<div class="opacity tran3s">
										<ul class="tran3s">
										<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<!-- <li><a href="javascript:void(0)" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li> -->
											
										</ul>
									</div>
								</div> <!-- /.image -->
								<h6>Kashish malik</h6>
								<p>Graphic Designer</p>
							</div> <!-- /.single-team-member -->
						</div> <!-- /.col- -->
			
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-team-styleOne -->

