

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="inner-page-banner fs">
				<div class="opacity">
					<h1>Actafun</h1>
					<!-- <ul>
						<li><a href="{{URL::to('/')}}">Home</a></li>
						<li>/</li>
						<li>Portfolio</li>
						<li>/</li>
						<li>Flight Synergy</li>
					</ul> -->
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->



			<!--
			=============================================
				Portfolio Details
			==============================================
			-->
			<div class="portfolio-details">
				<div class="container">
					<div class="title">
						<h2>Get Best deals of activities around<br> you through Actafun</h2>
						<ul>
							<li>Share:</li>
							<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					       
						</ul>
					</div> <!-- /.title -->
					<img src="/assets/images/portfolio/23.jpg" alt="">
					<div class="project-details-wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="project-info-list">
									<ul>
										<li>
											<h6>Date</h6>
											<p>21 Sep 2018</p>
										</li>
										<li>
											<h6>Tech Stack</h6>
											<p>Angular JS, Laravel, MySQL, HTML5, Bootstrap4, AWS, Git, S3 Bucket etc.</p>
										</li>
										<li>
											<h6>Project Type</h6>
											<p>Activity Management System</p>
										</li>
										<li>
											<h6>Live  (URL)</h6>
											<p>Web</p>
											
											<a href="https://www.actafun.com/" target="_blank">https://www.actafun.com/</a>
											
										
											
										</li>
									</ul>
								</div> <!-- /.project-info-list -->
							</div>
							<div class="col-sm-8">
								<div class="text">
									<h6>Actafun</h6>
									<p>Actafun is a leading marketplace from dublin city which offers users to book fun activities around the city and also helps small guides and activity providers to list their activities for the users. The actafun applications is  almost similar to popular application AIRBNB but for different niche.  Please check out the website to find out your favourite fun activity and spend good time with your family and friends. </p>
								</div>
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.project-details-wrapper -->
					<ul class="page-changer clearfix">
						<li class="float-left"><a href="javascript:void(0)" routerLink="/fine-master" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Prev</a></li>
						<li class="float-right"><a href="javascript:void(0)" routerLink="/tripbonder" class="tran3s">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
					</ul> <!-- /.page-changer -->
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-details -->


