<!--
=============================================
	Theme Main Banner
==============================================
-->
<div id="theme-main-banner" class="banner-one">
	<div data-src="/assets/images/home/slide-1.jpg">
		<div class="camera_caption">
			<div class="container">
				<h5 class="wow fadeInUp animated banner-caption">Designing and developing innovative digital platforms <br> that help you create value for your business</h5>
				<h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>MOBILE APPS
				</span><br><span>WEBSITES</span><br><span>BRANDING</span></h1>
				<a href="#service"  class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one js-scroll-trigger"  data-wow-delay="0.3s">Explore Now</a>
				<div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.3s">
					<svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="76">
						<clipPath class="clip1">
							<use xlink:href="#shape-one" />
						</clipPath>
						<g clip-path="url(#shape-one)">
						
						</g>
					</svg>
				</div>
				<div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.1s"><div class="theme-shape-two theme-shape-two-slide-1"></div></div>
			</div> <!-- /.container -->
		</div> <!-- /.camera_caption -->
	</div>
	<div data-src="/assets/images/home/slide-1.jpg">
		<div class="camera_caption">
			<div class="container">
				<h5 class="wow fadeInUp animated banner-caption">Like you we believe in quality of work suited to your budget <br> well within time to provide your business the edge it needs</h5>
				<h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>QUALITY </span><br><span>AFFORDABILITY</span><br><span>TIMELY</span></h1>
				<a href="#service" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one js-scroll-trigger" data-wow-delay="0.3s">Explore Now</a>
				<div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.3s">
					<svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
						<clipPath class="clip1">
							<use xlink:href="#shape-one" />
						</clipPath>
						<g clip-path="url(#shape-one)">
						
						</g>
					</svg>
				</div>
				<div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.1s"><div class="theme-shape-two theme-shape-two-slide-2"></div></div>
			</div> <!-- /.container -->
		</div> <!-- /.camera_caption -->
	</div>
	<div data-src="/assets/images/home/slide-1.jpg">
		<div class="camera_caption">
			<div class="container">
				<h5 class="wow fadeInUp animated banner-caption">Our clients place their trust in us to deliver them more than promised</h5>
				<h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>WE DELIVER
				</span><br><span>OUR PROMISE</span></h1>
				<a href="#service" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one js-scroll-trigger" data-wow-delay="0.3s">Explore Now</a>
				<div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.3s">
					<svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
						<clipPath class="clip1">
							<use xlink:href="#shape-one" />
						</clipPath>
						<g clip-path="url(#shape-one)">
						
						</g>
					</svg>
				</div>
				<div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.1s"><div class="theme-shape-two  theme-shape-two-slide-3"></div></div>
			</div> <!-- /.container -->
		</div> <!-- /.camera_caption -->
	</div>
</div> <!-- /#theme-main-banner -->

<!--
=============================================
	What We Do
==============================================
-->
<div class="what-we-do">
	<div class="container">
		<h3>Henceforth Solutions is a full cycle mobile and web solutions company. </h3>
		<h6>We have delivered over 20 solutions covering 4 verticals Web, Mobile Gaming, Enterprise Mobility, MVPs (Minimum Viable Products) for startups and Internet of Things based solutions. Our offices across Canada and India allow our clients to benefit from 24 hour work days and take advantage of both economies of scale and geography.</h6>

		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
				<div class="single-block">
					<div class="icon color-one">
						<img src="/assets/images/icons/app_dev.png" class="app-dev" />
					</div>
					<h6>Application Development</h6>
					<h5><a href="javascript:void(0)" class="tran3s">
					<ul style="list-style-type:circle">
  <li>iOS Apps</li>
  <li>Android Apps</li>
  <li>Progressive Web App</li>
</ul></a></h5>

					<!-- <h5><a href="#" class="tran3s">
        • iOS Apps <br> • Android Apps <br> • Progressive Web App
			  </a></h5> -->
				</div> <!-- /.single-block -->
			</div> <!-- /.col- -->
			<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
				<div class="single-block">
					<div class="icon color-two middle-block">
						<img src="/assets/images/icons/product_branding.png" class="app-dev" />
					</div>
					<h6>Product Design</h6>
					<h5><a href="javascript:void(0)" class="tran3s">
						<ul style="list-style-type:circle">
	  <li>App Design</li>
	  <li>Web Design</li>
	  <li>Branding</li>
	</ul> </a></h5>
				</div> <!-- /.single-block -->
			</div> <!-- /.col- -->
			<div class="col-md-4 hidden-sm col-xs-12 wow fadeInRight">
				<div class="single-block">
					<div class="icon color-three">
						<img src="/assets/images/icons/web_development.png" class="app-dev" />
					</div>
					<h6>Web Development</h6>
					<h5><a href="javascript:void(0)" class="tran3s">
						<ul style="list-style-type:circle">
	  <li>Utility</li>
	  <li>Ecommerce</li>
	  <li>Market Place</li>
	</ul></a></h5>
				</div> <!-- /.single-block -->
			</div> <!-- /.col- -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.what-we-do -->

<!--
=============================================
	More About Us
==============================================
-->
<div class="more-about-us" id="about">
	<div class="image-box">
		<svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="632">
			<clipPath class="clip1">
				<use xlink:href="#shape-one" />
			</clipPath>
			<g clip-path="url(#shape-one)">
				<!-- <image width="854" height="632" href="web/images/home/2.jpg" class="image-shape">
				</image> -->
			</g>
		</svg>
	</div>
	<div class="theme-shape-three"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-offset-5">
				<div class="main-content">
					<h2>We are a dynamic team of creative people &amp; Marketing Experts.</h2>
					<div class="main-wrapper">
						<h4>A Leading Mobile & Web Solutions Organization.</h4>
						<p>Headquartered in Chandigarh, we are one of the fastest growing Mobile & Web Solutions organizations of Asia. We deliver innovative, compelling and responsive digital experiences supported by ROI driven marketing services.  We are committed to helping our clients throughout their journey from idea generation to working on mobile & web application and then helping them market their services in the ever-growing global market. </p>
						<img src="/assets/images/home/sign.png" alt="sign">
						<div class="button-wrapper p-bg-color">
							<span>Learn More</span>
							<a href="javascript:void(0)" routerLink="/about-us" class="hvr-icon-wobble-horizontal">More About us <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div> <!-- /.button-wrapper -->
					</div> <!-- /.main-wrapper -->
				</div> <!-- /.main-content -->
			</div> <!-- /.col- -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.more-about-us -->

<!--
=============================================
	Theme Counter
==============================================
-->
<div class="theme-counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="single-box">
					<h2 class="number"><span class="timer" data-from="0" data-to="20" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
					<p>Completed Projects</p>
				</div> <!-- /.single-box -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="single-box">
					<h2 class="number"><span class="timer" data-from="0" data-to="39" data-speed="1000" data-refresh-interval="5">0</span></h2>
					<p>Available Countries</p>
				</div> <!-- /.single-box -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="single-box">
					<h2 class="number"><span class="timer" data-from="0" data-to="1000" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
					<p>Users Worldwide</p>
				</div> <!-- /.single-box -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="single-box border-fix">
					<h2 class="number"><span class="timer" data-from="0" data-to="10" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
					<p>Apps Live</p>
				</div> <!-- /.single-box -->
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.theme-counter -->

<!--
=============================================
	Our Portfolio
==============================================
-->
<div class="our-portfolio">
	<div class="container">
		<div class="theme-title">
			<h6>Recent work</h6>
			<h2>We design and build functional <br> and beautiful websites and mobile apps</h2>
			<a href="javascript:void(0)" routerLink="/work" class="tran3s">See All projects</a>
		</div> <!-- /.theme-title -->
	</div> <!-- /.container -->

	<div class="wrapper">
		<div class="row">
			<div class="portfolio-slider">
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/tripbonder-web.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/tripbonder" class="view-more tran3s"></a>
							</div>
						<!-- <div class="opacity tran4s"><a data-fancybox="project" href="web/images/portfolio/tripbonder-web.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div> -->
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/rewilla.png" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/rewilla" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/homeease.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/home-ease" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/pg_raters.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/playground-raters" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
			
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/catmango.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/catmango" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/tydal-2.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/tydalpass" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/plush-affairs.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/plush-affairs" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/fine-master.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/fine-master" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
				
				 <div class="item">
					<div class="image">
						<img src="/assets/images/portfolio/acta.jpg" alt="">
						<div class="opacity tran3s">
						<a href="javascript:void(0)" routerLink="/actafun" class="view-more tran3s"></a>
							</div>
					</div>
				</div>
			
			</div> <!-- /.portfolio-slider -->
		</div> <!-- /.row -->
	</div> <!-- /.wrapper -->
</div> <!-- /.our-portfolio -->

<!--
=============================================
	Home Service Section
==============================================
-->
<div class="home-service-section" id="service">
	<div class="container">
		<div class="col-md-9 col-md-offset-3 main-container">
			<div class="theme-title">
				<h6>Our Services</h6>
				<h2>We provide wide range of web &amp; <br>business services.</h2>
				<p>We’ve strong  work history with different business services</p>
				<a href="javascript:void(0)" routerLink="/services" class="tran3s">See All Services</a>
			</div> <!-- /.theme-title -->
			<ul class="clearfix row">
				<li class="col-md-6">
					<div>
						<img src="/assets/images/icons/brand.png" class="brand">
						<h5><a href="javascript:void(0)" routerLink="/services-v1" class="tran3s brand-1">BRAND IDENTITY</a></h5>
						<p>Your brand is the mark of promise, reliability and credibility to your customers. Our team helps you bring out the true identity of your brand and strategically designs the graphic elements like logo and signature trademark that outshine competitors and put you right ahead in the game.</p>
					</div>
				</li>
				<li class="col-md-6">
					<div>
						<img src="/assets/images/icons/app.png" class="brand">
						<h5><a href="javascript:void(0)" routerLink="/services-v1" class="tran3s">MOBILE APPLICATIONS</a></h5>
						<p>Give your business a viable option of enterprising itself into a profitable venture with our customised Mobile Apps Development. Stay ahead of trend with the help of our advanced tech, Native and Hybrid apps for iOS, Android and Windows.
						<!-- <div class="invisible">adkjfalsk dflsakd flsk dfa</div> -->
						</p>
					</div>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6">
					<div>
						<img src="/assets/images/icons/ui.png" class="brand">
						<h5><a href="javascript:void(0)" routerLink="/services-v1" class="tran3s">GRAPHICS DESIGN</a></h5>
						<p>It is the era of visual and virtual communication. Well researched graphics and their placement We infuse creativity and effectiveness in our designs backed by extensive research and experience of our team to develop visually stunning designs that your customers will love.</p>
					</div>
				</li>
				<li class="col-md-6">
					<div>
						<img src="/assets/images/icons/web.png" class="brand">
						<h5><a href="javascript:void(0)" routerLink="/services-v1" class="tran3s">WEB APPLICATIONS</a></h5>
						<p>Pace up your business with a reliable and interactive website development. Let your website become the interface for your target audience with a responsive, easy to use and multi platform enabled website with UI speed optimisation across PHP, Node JS, RoR, Python, and ASP.NET</p>
					</div>
				</li>
			</ul>
		</div> <!-- /.main-container -->
		<img src="/assets/images/home/shape-2.png" alt="Image" class="wow fadeInLeft">
	</div> <!-- /.container -->
</div> <!-- /.home-service-section -->

<!-- ==================== TWO SECTION WRAPPER ====================== -->
<div class="two-section-wrapper">
	<!--
	=============================================
		Testimonial
	==============================================
	-->
	<div class="testimonial-section" id="testimonial">
		<div class="image-box wow fadeInLeft">
			<svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="630">
				<clipPath class="clip1">
					<use xlink:href="#shape-one" />
				</clipPath>
				<g clip-path="url(#shape-one)">
					<!-- <image width="854" height="630" href="web/images/home/5.jpg" class="image-shape">
					</image> -->
				</g>
			</svg>
		</div>
		<div class="theme-shape-four wow fadeInLeft"></div>
		<div class="container">
			<div class="main-container col-md-6 col-md-offset-6">
				<div class="theme-title">
					<h6>Testimonials</h6>
					<h2>Check what’s our client <br>Say about us</h2>
				</div> <!-- /.theme-title -->
				<div class="testimonial-slider">
					<div class="item">
						<div class="wrapper">
							<p>It has been a pleasure working with Henceforth Solutions especially Omji Pandey, Harman Preet and Janardhan Singla. Their team is very receptive to our ideas and extremely knowledgeable about the current trends. 
After our first pleasant experience, we valued each suggestion from Henceforth Solutions whether it was regarding upgrading software or adding functionality in our website. Their decisions have really helped in making our customer experience better which directly impacts our bottom line. 
We were looking for an agency that had expertise in creating mobile & web solutions and at the same time would help us in marketing our services and in Henceforth Solutions, we have found what we were looking for. 
I highly recommend the Henceforth Solutions team.</p>
							<div class="name clearfix">
								<img src="/assets/images/home/3.jpg" alt="">
								<h5>C. Stephan Brown</h5>
								<span>CEO csbtechemporium bahamas</span>
							</div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="wrapper">
							<p>Henceforth Solutions team did an amazing job while working to create our website from scratch. Their team was timely in completing the task at the same time, they were really patient listening to my feedback during the development stage. As a customer, I was able to communicate with all the employees in the process responsible for working on my website. 
Eventually, they delivered a website that we are in love with, absolutely cost-effective, efficient and that has the features that we could not believe would come in our budget. They were very supportive and professional throughout the complete development. I highly recommend Henceforth Solutions for all your web based requirements. </p>
							<div class="name clearfix">
								<img src="/assets/images/home/4.jpg" alt="">
								<h5>Andrew Cohen</h5>
								<span>Co-founder and ceo of prep app</span>
							</div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="wrapper">
							<p>It has been a very pleasant experience to work with the team of Henceforth solutions. They are proactive in their approach and they helped me in taking the right decisions quickly. Whenever I felt confused over an idea, they explained and convinced me with logic helping the process to execution far beyond than I could imagine.
The team knows how to communicate professionally with a client. They do not only look to finish execution but think from both the perspectives, from clients as well as from the end user. From sketching a plan to the delivery of the project, you can expect an excellent experience.</p>
							<div class="name clearfix">
								<img src="/assets/images/home/reginald-morgan.png" alt="">
								<h5>Reginald Morgan</h5>
								<span>Founder of Viral and Whizzride apps</span>
							</div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.item -->
				</div> <!-- /.testimonial-slider -->
			</div> <!-- /.main-container -->
		</div> <!-- /.container -->
	</div> <!-- /.testimonial-section -->

	<!--
	=============================================
		Pricing Plan Style One
	==============================================
	-->
	<div class="pricing-plan-one">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-12 wow fadeInLeft">
					<div class="theme-title">
						<h6>Our pricing</h6>
						<h2>Confused? Request<br> A Free <br>Consultation</h2>
						<p>We have different type of pricing table to choose with <br>your need with resonable price. </p>
					</div> <!-- /.theme-title -->
					<!-- <ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#monthly">Monthly</a></li>
						<li><a data-toggle="tab" href="#yearly">Yearly</a></li>
					</ul> -->
				</div> <!-- /.col- -->

				<div class="col-md-6 col-xs-12 wow fadeInRight">
    				<div class="tab-content">
						<form action="#" id="estimate-request-form-2">
							<div class="wrapper">
								<div class="row">
									<div class="col-md-6">
										<input type="text" placeholder="Name" id="name_2">
									</div>
									<div class="col-md-6">
										<input type="email" placeholder="Email Address *" id="email_2">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
									<input id="phone_no_2" name="phonenum" type="tel" maxlength="10" class="number">
										<!-- <input type="text" placeholder="Phone Number" id="phone_no_2"> -->
									</div>
									<div class="col-md-6">
										<input type="text" placeholder="Skype Id" id="skype_id_2">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<textarea class="form-control" name="" id="desc_2" placeholder="Tell us about your project in brief:" style="min-height: 100px;width: 100%;border: 1px solid rgb(231, 231, 231);padding: 6px 20px;border-radius: 3px;margin-bottom: 20px;box-shadow: none;resize: none;"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-center" id="captcha_2">
									<div class="g-recaptcha" id="captcha2"></div>
									</div>
								</div>
								<br>
								
									<button class="p-bg-color hvr-trim-two" id="estimate-request-btn-2">Send</button>
								
							</div>
						</form>

				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.pricing-plan-one -->
</div> <!-- /.two-section-wrapper -->
</div>

