
	<!--
			=============================================
				Footer
			==============================================
			-->
			<footer class="bg-one">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="footer-logo">
								<a href="javascript:void(0)" routerLink="/"><img src="/assets/images/logo/logo.png" alt="Logo"></a>
								<h5><a href="javascript:void(0)" class="tran3s">info@henceforthsolutions.com</a></h5>
								<h6 class="p-color"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 8418866099</h6><br>
								<h6 class="p-color"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 8054377604</h6>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 footer-list">
							<h4>Quick Links</h4>
							<ul>
								<!-- <li><a href="{{URL::to('/')}}/jobs" class="tran3s">Jobs</a></li> -->
								<li><a href="javascript:void(0)" routerLink="/work" class="tran3s">Work</a></li>
								<li><a href="javascript:void(0)" routerLink="/services" class="tran3s js-scroll-trigger">Services</a></li>
								<!-- <li><a href="#" class="tran3s">RPM • Road People Motorcycles</a></li> -->
								<li><a href="javascript:void(0)" routerLink="/tripbonder" class="tran3s">Tripbonder</a></li>
								<li><a href="javascript:void(0)" routerLink="/rewilla" class="tran3s">Rewilla</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 footer-list">
							<h4>About</h4>
							<ul class="">
								<li><a href="javascript:void(0)" routerLink="/about-us" class="tran3s js-scroll-trigger">About Us</a></li>
								<li><a href="javascript:void(0)" routerLink="/team" class="tran3s">Team</a></li>
								<li><a href="javascript:void(0)" routerLink="/home#testimonial" class="tran3s js-scroll-trigger">Testimonials</a></li>
								<!-- <li><a href="#" class="tran3s">Blog</a></li> -->
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
							<h4>Follow Us</h4>
							<!-- <form action="#">
								<input type="text" placeholder="Enter your mail">
							</form> -->
							<ul>
								<li><a href="https://www.facebook.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="https://www.linkedin.com/company/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/henceforthsolutions" target="_blank" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<!-- <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
								<!-- <li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
							</ul>
						</div>
					</div> <!-- /.row -->

					<div class="bottom-footer clearfix">
						<ul class="float-right">
							<li><h3><span class="timer p-color" data-from="0" data-to="20" data-speed="5000" data-refresh-interval="50">0</span><span class="p-color">+</span> Projects</h3></li>
							<li><h3><span class="timer p-color" data-from="0" data-to="25" data-speed="5000" data-refresh-interval="50">0</span><span class="p-color">+</span> Team</h3></li>
							<li><h3><span class="timer p-color" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50">0</span><span class="p-color">+</span> Apps Live</h3></li>
						</ul>
						<p class="float-left">&copy; 2018 <a href="javascript:void(0)" class="tran3s p-color">Henceforth Solutions</a>. All rights reserved</p>
					</div>
				</div> <!-- /.container -->
			</footer>